spawn-at-startup "dms" "run"
spawn-at-startup "sh" "-c" "test -f ~/.meal-bienvenida-mostrada || kitty -e meal-bienvenida"

binds {
    Mod+Return { spawn "kitty"; }
    Mod+D { spawn "fuzzel"; }
    Mod+Q { close-window; }
    Mod+M { spawn "kitty" "-e" "meal-menu"; }
}
